*{
  font-family: tahoma, genova, sans-serif;
}
body{
  background-color: #ffffef;
}
.logo{
  width: 250px;
  height: 150px;
  position: relative;
  margin-bottom: -19px;
  text-align:  center;
  padding-left: 600px;
}
ul {
    list-style-type: none;
    margin-left: -10px;
    margin-right: -10px;
    padding-left: 600px;
    overflow: hidden;
    background-color: #ff0000;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
#slg{
  text-align:  center;
  font-size: 170%;
}
.mur{
  column-count: 4;
  column-gap: 2px;
}
.brique{
  display: inline-block;
  margin: 2px;
  width: 100%;
  text-align: center;
}
.brique img{
  width: 300px;
  height: 300px;
  border-radius: 10px;
}
